.MuiButton-root {
    text-transform: none !important;
    box-shadow: var(--shadow-sm) !important;
  }
  
  .MuiButton-root:hover {
    box-shadow: var(--shadow-md) !important;
  }
  
  .MuiPaper-root {
    box-shadow: var(--shadow-sm) !important;
  }
  
  .MuiRadio-root {
    color: var(--primary-color) !important;
  }
  
  .MuiFormControlLabel-root {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
  
  .MuiRadio-root.Mui-checked {
    color: var(--primary-color) !important;
  }